
h1{
    text-align: center;
}

main{
    margin: 5rem;
    padding: 0;
    max-width: 900px;
}

h2{
    margin-right: 0 auto;
}

section{
    margin-bottom: 4rem;
    scroll-margin-top: 6rem;
}

h3{
    margin-left: .2rem;

}